/*||CHECKOUT HEADER*/
.checkout-header {
  color: black;
  padding: 0px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 60px;
  z-index: 1;
  background-color: white;
}
/*MIDDLE SECTION*/
.checkout-header-middle-section{
  flex: 1;
  flex-shrink: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-top:20px ;
  
}
.lockimg{
    padding-top: 15px;
    width: 30px;
    height: 30px;
}
#cartamount{
  
  color:rgb(0, 113, 133)

}
@media (max-width: 575px) {
    .checkout-header-middle-section-content{
        font-size: 18px;
    }
}